
<header class="header">
    <div class="block-content">
		<div class="wrap-content">
			<h1 class="logo">
				<a href="/" title=""><img src="/images/harmonic-logo.png" alt="Harmonic Static Website Generator" title="Harmonic Static Website Generator">Harmonic -  A Static Website Generator</a>
			</h1>
		</div>
	</div>

	<div class="block-content">
		<div class="wrap-content">
			<div class="share-gh">
				<a aria-label="Star JSRocksHQ/harmonic on GitHub" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/JSRocksHQ/harmonic#stargazers_count" data-count-href="/JSRocksHQ/harmonic/stargazers" data-style="mega" data-icon="octicon-star" href="https://github.com/JSRocksHQ/harmonic" class="github-button">Star</a>
				<a aria-label="Fork JSRocksHQ/harmonic on GitHub" data-count-aria-label="# forks on GitHub" data-count-api="/repos/JSRocksHQ/harmonic#forks_count" data-count-href="/JSRocksHQ/harmonic/network" data-style="mega" data-icon="octicon-git-branch" href="https://github.com/JSRocksHQ/harmonic/fork" class="github-button">Fork</a>
			</div>
		</div>
	</div>
</header>
