<header>
	<div class="wrap-content">
		<div class="block-content header-bar">
			<p>A Static Website Generator built entirely with the modern Javascri, A.K.A ES2015/ES6 ES2016/ES7</p>
			<ul>
				<li>
					<a target="_blank" href="https://twitter.com/harmonicjs" alt="Twitter">Twitter</a>
					<a target="_blank" href="https://github.com/JSRocksHQ/harmonic" alt="Github repository">Github</a>
				</li>
			</ul>
		</div>
		<h1 class="block-content">
			<!-- <a class="logo" href="/" title=""><img src="/images/harmonic-logo.png" alt="" title="">Harmonic -  A Static Website Generator</a> -->
		</h1>
		<div class="block-content">[Github buttons]</div>
	</div>
</header>