<div class="slogan-bar">
    <div class="wrap-content">
        <p class="fl slogan">A Static Website Generator built entirely with the modern Javascript, A.K.A ES2015/ES6 ES2016/ES7</p>
        <ul class="social-network fr">
            <li>
                <a class="icon icon-20 icon-tw" target="_blank" href="https://twitter.com/harmonicjs" alt="Twitter">Twitter</a>
            </li>
            <li>
                <a class="icon icon-20 icon-gh" target="_blank" href="https://github.com/JSRocksHQ/harmonic" alt="Github repository">Github</a>
            </li>
        </ul>
    </div>
</div>
