<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- RESPONSIVE META DATA -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CORE META DATA -->
    <meta name="author" content="@italowaxman, @robsongajunior">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- OPEN GRAPH -->
    <meta property="og:description" content="">
    <meta property="og:image" content="/images/thumb.png">
    <meta property="og:site_name" content="Harmonic">
    <meta property="og:title" content="Harmonic">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="Usuário do Twitter">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="/images/thumb.png">

    <!-- AUTHORS -->
    <link rel="author" href="/AUTHORS" />

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link type="text/css" rel="stylesheet" href="/css/vendor/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/vendor/prism.css"/>
    <link type="text/css" rel="stylesheet" href="/css/main.css">

    <title>Harmonic | Static Website Generator</title>
</head>
<body>
    {% include "partials/header.html" %}

    <div class="block-content content-1 default-padding">
        <div class="wrap-content">
            <h2>Easy to start</h2>
        </div>
     </div>

    <div class="block-content default-padding">
        <div class="wrap-content">
            <h2>Now youtre able to build your awesome website!</h2>
            <p class="obs">Check out the documentation in <a href="https://github.com/JSRocksHQ/harmonic/wiki" title="Harmonic's wiki" target="_blank">Harmonic's wiki</a> </p>
        </div>
    </div>

    <div class="block-content code-build">
        <div class="wrap-content">
            <div>
                [Code block]
            </div>
            <p class="obs">Now you're ready to <a href="" title="Harmonic creating posts" target="_blank">creating posts!</a> </p>
        </div>
    </div>

    <div class="block-content">
        <div class="wrap-content">
            <img src="resources/images/logo-js.png" alt="Javascript" title="Javascript">

            <h2>Harmonic in action</h2>
            <p class="obs">The website is already online <a href="http://jsrocks.org" title="JSROCKS Website" target="_blank">JSROCKS</a> </p>
        </div>
    </div>

    <div class="block-content">
        <div class="wrap-content">
            <h2>Are you using Harmonic?</h2>
            <a href="" title="">Let us know!</a>
        </div>
    </div>

    <div class="block-content">
        <div class="wrap-content">
            <p class="ass-design">Designed by <a href="http://br.linkedin.com/in/italowaxman/" title="Designed by Ítalo Waxman" target="_blank">Ítalo Waxman</a></p>
        </div>
    </div>

    {% include "partials/footer.html" %}
    {% include "partials/scripts.html" %}
</body>
</html>