/**
*
* @effect: thunder
*
**/
@keyframes thunder {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transform: rotate3d(0, 0, 1, -4.5deg);
        -moz-transform: rotate3d(0, 0, 1, -4.5deg);
        -ms-transform: rotate3d(0, 0, 1, -4.5deg);
        -o-transform: rotate3d(0, 0, 1, -4.5deg);
        transform: rotate3d(0, 0, 1, -4.5deg);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: rotate3d(0, 0, 1, -4.5deg);
        -moz-transform: rotate3d(0, 0, 1, -4.5deg);
        -ms-transform: rotate3d(0, 0, 1, -4.5deg);
        -o-transform: rotate3d(0, 0, 1, -4.5deg);
        transform: rotate3d(0, 0, 1, 4.5deg);
    }
}

.icon:hover,
.icon-title-ray
    -webkit-animation-name: thunder
    -webkit-animation-duration: 1s
    -webkit-animation-fill-mode: both
    -webkit-animation-iteration-count: infinite

    -moz-animation-name: thunder
    -moz-animation-duration: 1s
    -moz-animation-fill-mode: both
    -moz-animation-iteration-count: infinite

    animation-name: thunder
    animation-duration: 1s
    animation-fill-mode: both
    animation-iteration-count: infinite
