/**
*
* COLORS
*
**/
color_white             = #FFF
color_brown             = #9A8139
color_green             = #AAE163
color_green-smooth      = #778B5F

fontColor_yellow        = #F1F600
fontColor_brown-light   = #FDFBE2
fontColor_brown         = #805600
fontColor_brown-smoth   = #9C8039 // maybe can be color_brown
fontColor_brown-darker  = #3D231B
fontColor_red-darker    = #B1162F

color_title             = fontColor_brown-darker
color_textHilight       = fontColor_yellow

color_background        = fontColor_brown-light