/**
*
* COLORS
*
**/
color_white                 = #fff
color_brown                 = #9e793f
color_green                 = #aae163
color_green-smooth          = #bacf6d
color_green-smooth-darker   = #7d8462
color_gray-light            = #b0b0b0
color_gray-lighter          = #ededed
color_brown-lighter         = #fffcf6

fontColor_yellow        = #fdcf0b
fontColor_yellow-light  = #ffde16
fontColor_brown-light   = #fff8e8
fontColor_brown         = #805008
fontColor_brown-smoth   = #9c8039 // maybe can be color_brown
fontColor_brown-darker  = #391e16
fontColor_red-darker    = #ac3134


color_text              = fontColor_brown
color_title             = fontColor_brown-darker
color_textHilight       = fontColor_yellow-light
color_background        = fontColor_brown-light
