/**
*
* COLORS
*
**/
color_white             	= #fff
color_brown             	= #9a8139
color_green             	= #aae163
color_green-smooth      	= #bacf6d
color_green-smooth-darker 	= #7d8462

fontColor_yellow        = #f1f600
fontColor_brown-light   = #fff6e3
fontColor_brown         = #7c6449
fontColor_brown-smoth   = #9c8039 // maybe can be color_brown
fontColor_brown-darker  = #391e16
fontColor_red-darker    = #b1162f

color_text 				= fontColor_brown
color_title             = fontColor_brown-darker
color_textHilight       = fontColor_yellow
color_background        = fontColor_brown-light