/**
*
* FONT/TYPOGRAPH
*
**/

font_secundary-regular  = 'cocogooseregular'
font_strong-regular     = 'nexa_boldregular'
font_default-regular    = 'nexa_lightregular'


@font-face
    font-family: font_default-regular
    src: url('../fonts/nexa/nexa_light-webfont.eot')
    src: url('../fonts/nexa/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa/nexa_light-webfont.woff') format('woff'),
         url('../fonts/nexa/nexa_light-webfont.ttf') format('truetype'),
         url('../fonts/nexa/nexa_light-webfont.svg#nexa_lightregular') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: font_strong-regular
    src: url('../fonts/nexa/nexa_bold-webfont.eot')
    src: url('../fonts/nexa/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa/nexa_bold-webfont.woff') format('woff'),
         url('../fonts/nexa/nexa_bold-webfont.ttf') format('truetype'),
         url('../fonts/nexa/nexa_bold-webfont.svg#nexa_boldregular') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: font_secundary-regular
    src: url('../fonts/cocogoose/Cocogoose-webfont.eot')
    src: url('../fonts/cocogoose/Cocogoose-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cocogoose/Cocogoose-webfont.woff') format('woff'),
         url('../fonts/cocogoose/Cocogoose-webfont.ttf') format('truetype'),
         url('../fonts/cocogoose/Cocogoose-webfont.svg#cocogooseregular') format('svg')
    font-weight: normal
    font-style: normal
