footer
    margin-top 80px

    .logo
        float left

    .subscription
        font-size 12px

        a
            color fontColor_red-darker

    .bg
        background color_brown
        padding 10px 0 7px

        p
            font-size 14px
            font-family font_secundary-regular
            color color_background
            text-transform uppercase
            position relative
            top 10px
            float right

            a
                color fontColor_yellow