/**
*
* FUNCTIONS/MIXINS
*
**/
b-sizing(attr)
    -webkit-box-sizing attr
    -moz-box-sizing attr
    box-sizing attr

bgSize(w, h)
    -webkit-background-size w, h
    -moz-background-size w, h
    -o-background-size w, h
    background-size w, h

transform-rotate(deg)
    -webkit-transform rotate(deg)
    -moz-transform rotate(deg)
    -o-moz-transform rotate(deg)
    transform rotate(deg)

transform-scale(size)
    -webkit-transform scale(size)
    -moz-transform scale(size)
    -o-transform scale(size)
    transform scale(size)

animate-transition(prop, time, effect)
    -webkit-transition prop time effect
    -moz-transition prop time effect
    -o-transition prop time effect
    transition prop time effect

