/**
*
* FUNCTIONS/MIXINS
*
**/
bgSize(w, h)
    -o-background-size w, h
    -moz-background-size w, h
    -webkit-background-size w, h
    background-size w, h

transform-rotate(deg)
    ms-transform rotate(deg)
    webkit-transform rotate(deg)
    moz-transform rotate(deg)
    transform rotate(deg)

transform-scale(size)
    -webkit-transform scale(size)
    -moz-transform scale(size)
    -o-transform scale(size)
    transform scale(size)

animate-transition(prop, ms, ease)
    -webkit-transition prop ms ease
    -moz-transition prop ms ease
    -o-transition prop ms ease
    transition prop ms ease

