/**
*
* HEADER
*
**/
.slogan-bar
    width: 100%
    height 40px
    background color_brown
    position fixed
    left 0
    top 0
    z-index 0

    .slogan
        line-height 40px
        color color_background
        text-shadow 0px -1px 0px rgba(0, 0, 0, 0.25)
        text-transform uppercase
        font-size 14px
        font-family font_secundary-regular

.header
    width 100%
    margin 0 0 26px

    .logo
        display block
        width 525px
        height 126px
        margin 0 auto 20px
        position relative
        overflow hidden

        a
            display block
            position absolute
            width 100%
            height 100%
            color transparent

    .share-gh
        text-align center
