/**
*
* HELPERS
*
**/


.wrap-content,
.wrap-sub-content
    margin 0 auto

.wrap-content
    padding 0 15px

.block-content
    display block

.fl
    float left

.fr
    float right

.default-padding
    padding 60px 0

.no-padding-bottom
    padding-bottom 0


// DIVISOR
.divisor
    margin 50px 0
    height 1px

    svg
        position relative
        top -13px

    hr
        border none
        border-bottom solid 1px fontColor_brown-darker
        height 1px
        width 350px


// DEFAULT MARGINS
.m-b-default
    margin-bottom 20px

.m-b-gt
    margin-bottom 60px

.m-b-med
    margin-bottom 45px


// TEXT
.text-default-strong
    font-family font_strong-regular

.text-secondary-color
    color fontColor_red-darker

.text-default-position
    text-align center


// BUTTONS
.btn
    display inline-block

    &-default
        font-family font_secundary-regular
        padding 13px
        border solid 1px color_green-smooth-darker
        color color_green-smooth-darker
        background color_green-smooth
        text-transform uppercase
        border-radius 4px
        font-size 18px
        text-decoration none

        &:hover
            border solid 1px color_green-smooth
            color color_green-smooth
            background color_green-smooth-darker

    &-link
        text-decoration underline
        font-size 18px
        font-family font_secundary-regular
        border none
        text-transform uppercase
        color fontColor_red-darker

        &:hover
            text-decoration none

