/**
*
* HELPERS
*
**/


.wrap-content
	margin 0 auto
	padding 0 15px

.block-content
	display block

.fl
	float left

.fr
	float right

.default-padding
	padding 60px 0

.content-1
	width 100%
	height 347px
	background-image url('../images/bg-start.jpg')
	background-position center top
	background-repeat repeat-x


// DEFAULT MARGINS
.m-b-default
	margin-bottom 20px

.m-b-gt
	margin-bottom 60px

.m-b-med
	margin-bottom 45px


// TYPOGRAPH
.text-default-strong
	font-family font_strong-regular

.text-secondary-color
	color fontColor_red-darker


// BUTTONS
.btn
	display inline-block

	&-default
		font-family font_secundary-regular
		padding 13px
		border solid 1px color_green-smooth-darker
		color color_green-smooth-darker
		background color_green-smooth
		text-transform uppercase
		border-radius 4px
		font-size 18px
		text-decoration none

	&-link
		text-decoration underline
		font-size 18px
		font-family font_secundary-regular
		border none
		text-transform uppercase
		color fontColor_red-darker

		&:hover
			text-decoration none

