/**
*
* HELPERS
*
**/


.wrap-content
	margin 0 auto
	padding 0 15px

.block-content
	display block

.fl
	float left

.fr
	float right

.default-padding
	padding 60px 0

.content-1
	width 100%
	height 347px
	background-image url('../images/bg-start.jpg')
	background-position center top
	background-repeat repeat-x


// DEFAULT MARGINS
.m-b-default
	margin-bottom 20px

.m-b-gt
	margin-bottom 60px

.m-b-med
	margin-bottom 45px
