/**
*
* HARMONIC THEME
*
**/

body
	font-family font_default-regular
	background color_white
	background-color #FFF8E8
	background-image url('../images/bg-top.jpg')
	background-position center 40px
	background-repeat repeat-x
	bgSize(100%, auto)
