/**
*
* HARMONIC THEME
*
**/
body
	font-family font_default-regular
	font-size 15px
	line-height 17px
	color color_text
	background color_white
	background-color #FFF8E8
	background-image url('../images/bg-top.jpg')
	background-position center 40px
	background-repeat repeat-x
	bgSize(100%, auto)


// TITLE
h1,
h2,
h3,
h4,
h5,
h6
	font-family font_secundary-regular
	color fontColor_brown-darker

.title-default
	font-size 48px
	line-height 50px

.title-secondary
	font-size 36px
	line-height 38px

.title-destak
	color fontColor_red-darker


// SOCIAL NETWORK
.social-network
	position relative

	li,
	.icon
		display inline-block
		background-repeat no-repeat
		color transparent

	.icon-20
		width 20px
		height 20px

	.icon-tw
		background-image url('../images/icon-twitter.png')

	.icon-gh
		background-image url('../images/icon-github.png')

	.icon-tw,
	.icon-gh
		background-position center center


// REPO CALL LOGO
.harmonic-repo
	width 458px
	height 607px
	background-image url('../images/tio-sam.png')
	background-repeat no-repeat
	background-position left top
	float left
	margin-right 30px

// HOME ARTICLE TEXT
.home-article-txt
	float right
	width 652px